*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace; 
   }
   
   html, body{
       height: 100%;
       width: 100%;
   }

   .page1{
    height: 100%;
    width: 100%;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .page2{
    height: 100%;
    width: 100%;
    background-color: rgb(9, 51, 6);
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .page3{
    height: 100%;
    width: 100%;
    background-color: rgb(206, 230, 18);
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .circle{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(rgb(101, 101, 190), rgb(5, 9, 23))
   }